<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link href="css/style.css" rel="stylesheet" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  </head>
  <body class="w-screen h-screen bg-gray-900 text-white">
    <nav class="flex justify-space-between items-center px-4 w-full h-full">
      <ul
        class="flex justify-space-between items-center space-x-4 w-full h-full"
      >
        <li>
          <a href="./pages/demo-scripts.html">Vari script dimostrativi</a>
        </li>
        <li>
          <a href="./pages/react.html">Test React 19 in the browser (no JSX)</a>
        </li>
        <li>
          <a href="./pages/react19.html">Test React 19 in the browser (JSX)</a>
        </li>
        <li>
          <a href="./pages/react18.html">Test React 18 in the browser</a>
        </li>
      </ul>
    </nav>
  </body>
</html>
