<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  </head>
  <body class="w-screen h-screen bg-gray-900 text-white">
    <nav class="flex justify-space-between items-center px-4 w-full h-full">
      <ul
        class="flex justify-space-between items-center space-x-4 w-full h-full"
      >
        <li>
          <a href="../pages/demo-scripts.html" target="_top"
            >Vari script dimostrativi</a
          >
        </li>
        <li>
          <a href="../pages/react19-no-jsx.html" target="_top"
            >Test React 19 in the browser (no JSX)</a
          >
        </li>
        <li>
          <a href="../pages/react19-jsx.html" target="_top"
            >Test React 19 in the browser (JSX)</a
          >
        </li>
        <li>
          <a href="../pages/react18.html" target="_top"
            >Test React 18 in the browser</a
          >
        </li>
      </ul>
    </nav>
    <script>
      // Get URL parameters to customize the component
      function getParam(name) {
        const urlParams = new URLSearchParams(window.location.search);
        return urlParams.get(name);
      }

      // Handle messages from parent window
      window.addEventListener("message", function (event) {
        // Make sure message is from parent
        if (event.source !== window.parent) return;

        if (event.data.type === "hello") {
          if (event.data.message) {
            console.log(event.data.message);
          }
          if (event.data.anotherContent) {
            console.log(event.data.anotherContent);
          }
        }
      });

      // Send message to parent when button is clicked
      function notifyParent() {
        window.parent.postMessage(
          {
            type: "hello",
            message: "Hello from child iframe!",
          },
          "*",
        );
      }

      // Initialize with URL parameters if available
      window.onload = function () {
        const param = getParam("param");
        const param1 = getParam("param1");

        if (param) {
          console.log(`Param from URL: ${param}`);
        }
        if (param1) {
          console.log(`Param1 from URL: ${param1}`);
        }
      };
      notifyParent();
    </script>
  </body>
</html>
